@import "./././sass/abstracts/variables-et-mixins";

.ecosysteme-mecenat {

	@include trait;

	padding:8rem 0 8rem;
	position: relative;

	.texte-wrap {
		margin-bottom: 7rem;
	}
	.titre-section {
		font-weight: 700;
		margin-bottom: 3rem;
	}

	.intro {
		font-size: 1.8rem;
		line-height: 2.5rem;
		margin-bottom: 3rem;
	}
	
	.texte {
		margin-bottom: 3rem;
	}

	.cta {
		color:#179DB8;
		font-size: 2rem;
		line-height: 1.1;
	}

	.image-wrap {
		display: grid;
		grid-template-columns: 2fr 4rem 1fr;
		grid-template-rows: 20rem 11rem 5rem;
	}

	.image-1 {
		grid-column: 1 / span 2;
		grid-row: 1 / span 2;
	}

	.image-2 {
		grid-column: 2 / span 2;
		grid-row: 2 / span 2;
	}

	.image {
		img {
			height:100%;
			width:100%;
		}
	}


	@include bp(md) {
		column-gap:2rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding:7.1rem var(--padding-x) 8rem;

		

		.texte-wrap {
			padding:2rem 0;
		}
		.titre-section {
			text-align: left;
		}
		.image-wrap {
			align-items: flex-start;
			display: flex;
			position: relative;
			padding-top:25rem;
		}

		.image {
			@include decor;


			img {
				height:100%;
				width: 100%;
			}
		}

		.image-2 {
			display: none;
		}

		.intro {
			background-color: var(--blanc);
			max-width: 90%;;
			padding:2rem 3rem;
			position: relative;
		}

	}
	

	@include bp(lg){

		grid-template-columns: 48rem 1fr;
		padding:14rem var(--padding-x) 16.5rem;

		.titre-section {
			line-height: 7rem;
			margin-bottom: 3.3rem;
			text-align: left;
		}

		.leviers {
			li {
				padding:1.5rem 0;
				&::after {
					top:1.5rem;
				}
			}
			br {
				display: none;
			}
		}

		.image-1 {
			height:75%;
		}

		.image-2 {
			bottom:0;
			display: block;
			height:35%;
			left:unset;
			right: 0;
			top:unset;
			width:45%;
			img {
				object-position: top center;;
			}

		}
		
	}

	@include bp(xl) {
		grid-template-columns: 50rem 1fr;


		.intro {
			font-size: 2.6rem;
			line-height: 3.4rem;
			max-width:85%;
		}

		.image-1 {
			width:90%;
		}
		
	}

	@media screen and (min-width:1780px) {
		column-gap:3.5rem;
		grid-template-columns: 56rem 1fr;
		.image-wrap {
			padding-top:30rem;

		}
		.intro {
			max-width:56rem;
		}
	}
} 