.ecosysteme-mecenat {
  --trait:9.7rem;
  position: relative;
  padding: 8rem 0 8rem;
  position: relative;
}
.ecosysteme-mecenat::before {
  background-color: var(--bleu-d3);
  content: "";
  display: block;
  height: var(--trait);
  left: 50%;
  position: absolute;
  top: calc(-0.5 * var(--trait));
  width: 1px;
}
@media (min-width: 1024px) {
  .ecosysteme-mecenat {
    --trait:20.5rem;
  }
}
.ecosysteme-mecenat .texte-wrap {
  margin-bottom: 7rem;
}
.ecosysteme-mecenat .titre-section {
  font-weight: 700;
  margin-bottom: 3rem;
}
.ecosysteme-mecenat .intro {
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin-bottom: 3rem;
}
.ecosysteme-mecenat .texte {
  margin-bottom: 3rem;
}
.ecosysteme-mecenat .cta {
  color: #179DB8;
  font-size: 2rem;
  line-height: 1.1;
}
.ecosysteme-mecenat .image-wrap {
  display: grid;
  grid-template-columns: 2fr 4rem 1fr;
  grid-template-rows: 20rem 11rem 5rem;
}
.ecosysteme-mecenat .image-1 {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}
.ecosysteme-mecenat .image-2 {
  grid-column: 2/span 2;
  grid-row: 2/span 2;
}
.ecosysteme-mecenat .image img {
  height: 100%;
  width: 100%;
}
@media (min-width: 1024px) {
  .ecosysteme-mecenat {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding: 6.8rem 0 10.8rem;
  }
  .ecosysteme-mecenat .texte-wrap {
    grid-column: 2;
    grid-row: 1;
    padding: 5rem 0;
  }
  .ecosysteme-mecenat .titre-section {
    font-size: 4.7rem;
    line-height: 6.3rem;
    text-align: left;
  }
  .ecosysteme-mecenat .intro {
    font-size: 2.3rem;
    line-height: 3.2rem;
  }
  .ecosysteme-mecenat .cta {
    font-size: 2.5rem;
  }
  .ecosysteme-mecenat .image-wrap {
    grid-template-columns: 36% 53% 11%;
    grid-template-rows: 55% 39% 6%;
    width: 100%;
  }
  .ecosysteme-mecenat .image-1 {
    grid-column: 1/span 2;
  }
  .ecosysteme-mecenat .image-2 {
    grid-column: 2/span 2;
  }
}
@media (min-width: 1440px) {
  .ecosysteme-mecenat {
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
  .ecosysteme-mecenat .texte-wrap {
    padding: 10rem 0;
  }
  .ecosysteme-mecenat .titre-section {
    font-size: 6.4rem;
    line-height: 7.2rem;
  }
  .ecosysteme-mecenat .intro {
    font-size: 2.6rem;
    line-height: 3.4rem;
  }
  .ecosysteme-mecenat .cta {
    font-size: 2.5rem;
    line-height: 3.2rem;
  }
}
@media screen and (min-width: 1780px) {
  .ecosysteme-mecenat {
    -moz-column-gap: 3.5rem;
         column-gap: 3.5rem;
  }
  .ecosysteme-mecenat .texte-wrap {
    padding: 15rem 0;
  }
}