@import "./././sass/abstracts/variables-et-mixins";


.acf-blog {
	@include bleed;
	@include trait;
	background-color: rgba(207, 203, 212, 0.17);
	padding: 7rem 0 3rem;


	.loop {
		background-color: transparent;
		padding: 0;
	}


	.titre-section {
		line-height: 1;
		letter-spacing: -0.56px;
		text-align: center;

	}

	.bouton {
		margin:3rem var(--padding-x) 0;
	}




	@include bp(md) {

		.loop {
			padding: 0 var(--padding-x-header);
		}
	}


	@include bp(lg) {
		align-items: center;
		display: flex;
		flex-direction: column;
		padding: 19.3rem 0 7rem;

		.titre-section {
			letter-spacing: -1.19px;
			margin-bottom: 9.8rem;
		}

	}
}