@import "./././sass/abstracts/variables-et-mixins";

.agence-adn {
	@include trait;

	padding:6.7rem 0 7.6rem;


	.titre-section {
		font-size: 2.8rem;
		margin-bottom: 2rem;
		text-align: center;
	}

	.intro {
		color:var(--noir);
		font-size: 1.8rem;
		line-height: 2.5rem;
		margin-bottom: 3rem;
	}

	.valeur {
		border-top:solid 2px var(--noir);
		padding:2.5rem 0;
	}

	.picto {
		margin-bottom: 1.3rem;
		width:6.7rem;
	}


	.titre {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 2rem;
	}

	.texte {
		color:var(--noir);
		line-height: 2rem;
	}


	@include bp(md) {
		--gap:4rem;
		.texte-wrap {
			align-items: center;
			display: flex;
		}

		.titre-section {
			flex-shrink: 0;
			flex-grow:0;
			margin-right: 2rem;
			margin-bottom: 0;
		}

		.intro {
			margin-bottom: 0;
		}

		.valeurs {
			column-gap:var(--gap);
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			margin-top: 5rem;
			row-gap:var(--gap);
		}

		.picto {
			margin-left: auto;
			margin-right: auto;
		}
		.titre {
			text-align: center;
		}
	}
	
	
	@media screen and (min-width:1200px) {

		padding-top: 17.2rem;
		padding-bottom: 19.5rem;

		.titre-section {
			font-size: 6.5rem;
			line-height: 9.8rem;
			margin-right: 4rem;
		}
		.intro {
			font-size: 2.6rem;
			line-height: 3.4rem;
		}

		.valeurs {
			grid-template-columns: repeat(4, 1fr);
			margin-top: 9rem;
		}

		.valeur {
			border-bottom:solid 3px var(--noir);
			border-top:solid 3px var(--noir);
			padding-top: 6.6rem;
			padding-bottom: 3rem;
		}
		.picto {
			height:11.4rem;
			margin-bottom: 7rem;
			width:11.3rem;
		}
		.titre {
			align-items:center;
			display: flex;
			font-weight: 800;
			-webkit-hyphens: auto;
			-moz-hyphens: auto;
			-ms-hyphens: auto;
			hyphens: auto;
			justify-content: center;
			letter-spacing: -0.2px;
			line-height: 1;
			min-height: 8rem;
			margin-bottom: 4.6rem;
		}
		.texte {
			line-height: 3.2rem;
			margin-bottom: 0;
		}
	
	}

	@include bp(xl) {
		--gap:4.5rem;
		.texte-wrap {
			margin-left: auto;
			margin-right: auto;
			max-width:110rem;
		}
		.titre {
			font-size: 4rem;
		}
	}

	@include bp(xxl){
		--gap:5rem;
		
	}
} 