@import "./././sass/abstracts/variables-et-mixins";

.carrousel {
	--logo: 190px;
	--dot: 10px;

	@include bleed;
	@include trait;

	padding: 7rem 0 12rem;

	.titre-section {

		margin-bottom: 2.2rem;
		padding: 0 var(--padding-x);
		text-align: center;

		span {
			color: var(--violet-d2);
		}
	}

	.owl-carousel {
		position: relative;
	}

	.owl-carousel .owl-stage {
		display: flex;
	}

	.owl-item {
		align-items: center;
		display: flex;
		justify-content: center;

		img {
			height: var(--logo);
			object-fit: contain;
			object-position: center;
			width: var(--logo);
		}

	}

	.owl-nav {
		display: flex;
		justify-content: center;
	
		button {
			
			margin:0 2rem;
			min-width:unset;
			&:hover, &:focus {
				span {
					color:var(--bleu-fonce);
				}
			}
		}
		span {
			color:#2AC1C8;
			font-size: 4rem;
			line-height: 4.5rem;
			text-decoration: underline;
		}
	}


	@include bp(md) {
		--logo: 240px;
	}

	@include bp(lg) {
		--logo: 200px;
		--dot : 1.6rem;

		padding: 18.3rem var(--padding-x) 20.9rem;

		.titre-section {
			margin-bottom: 9rem;
		}

		.owl-dots {
			margin-top: 4rem;
		}

	}

	@include bp(xl) {
		--logo: 240px;
	}
}