@import "./././sass/abstracts/variables-et-mixins";

.carrousel {
	--logo: 190px;
	--dot: 10px;

	@include bleed;
	@include trait;

	padding: 7rem 0 12rem;

	.titre-section {

		margin-bottom: 2.2rem;
		padding: 0 var(--padding-x);
		text-align: center;

		span {
			color: var(--violet-d2);
		}
	}

	.owl-carousel .owl-stage {
		display: flex;
	}

	.owl-item {
		align-items: center;
		display: flex;
		justify-content: center;

		img {
			height: var(--logo);
			object-fit: contain;
			object-position: center;
			width: var(--logo);
		}

	}

	.owl-dots {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 2rem;

		button {
			background-color: #707070;
			border: solid 1px #707070;
			border-radius: 50%;
			color: transparent;
			display: block;
			height: var(--dot);
			line-height: unset;
			margin: 0 1.2rem;
			min-width: unset;
			min-height: unset;
			opacity: 0.33;
			width: var(--dot);

			//Regrouper les dots par paquets de 5
			display: none;
			&:nth-of-type(5n+1) {
				display: block;
			}


			&:hover,
			&:focus {

				background-color: #009db8;
				border-color: #009db8;
			}

			&.active, &.voisin-actif {
				opacity: 1;
			}

		}
	}


	@include bp(md) {
		--logo: 240px;
	}

	@include bp(lg) {
		--logo: 200px;
		--dot : 1.6rem;

		padding: 18.3rem var(--padding-x) 20.9rem;

		.titre-section {
			margin-bottom: 9rem;
		}

		.owl-dots {
			margin-top: 4rem;
		}

	}

	@include bp(xl) {
		--logo: 240px;
	}
}