.carrousel {
  --logo: 190px;
  --dot: 10px;
  width: 100vw;
  margin-left: calc(-1 * var(--padding-x));
  --trait:9.7rem;
  position: relative;
  padding: 7rem 0 12rem;
}
@media (min-width: 1920px) {
  .carrousel {
    width: var(--largeur-max);
  }
}
.carrousel::before {
  background-color: var(--bleu-d3);
  content: "";
  display: block;
  height: var(--trait);
  left: 50%;
  position: absolute;
  top: calc(-0.5 * var(--trait));
  width: 1px;
}
@media (min-width: 1024px) {
  .carrousel {
    --trait:20.5rem;
  }
}
.carrousel .titre-section {
  margin-bottom: 2.2rem;
  padding: 0 var(--padding-x);
  text-align: center;
}
.carrousel .titre-section span {
  color: var(--violet-d2);
}
.carrousel .owl-carousel .owl-stage {
  display: flex;
}
.carrousel .owl-item {
  align-items: center;
  display: flex;
  justify-content: center;
}
.carrousel .owl-item img {
  height: var(--logo);
  object-fit: contain;
  object-position: center;
  width: var(--logo);
}
.carrousel .owl-dots {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}
.carrousel .owl-dots button {
  background-color: #707070;
  border: solid 1px #707070;
  border-radius: 50%;
  color: transparent;
  display: block;
  height: var(--dot);
  line-height: unset;
  margin: 0 1.2rem;
  min-width: unset;
  min-height: unset;
  opacity: 0.33;
  width: var(--dot);
}
.carrousel .owl-dots button:hover, .carrousel .owl-dots button:focus {
  background-color: #009db8;
  border-color: #009db8;
}
.carrousel .owl-dots button.active, .carrousel .owl-dots button.voisin-actif {
  opacity: 1;
}
@media (min-width: 768px) {
  .carrousel {
    --logo: 240px;
  }
}
@media (min-width: 1024px) {
  .carrousel {
    --logo: 200px;
    --dot: 1.6rem;
    padding: 18.3rem var(--padding-x) 20.9rem;
  }
  .carrousel .titre-section {
    margin-bottom: 9rem;
  }
  .carrousel .owl-dots {
    margin-top: 4rem;
  }
}
@media (min-width: 1440px) {
  .carrousel {
    --logo: 240px;
  }
}