.carrousel {
  --logo: 190px;
  --dot: 10px;
  width: 100vw;
  margin-left: calc(-1 * var(--padding-x));
  --trait:9.7rem;
  position: relative;
  padding: 7rem 0 12rem;
}
@media (min-width: 1920px) {
  .carrousel {
    width: var(--largeur-max);
  }
}
.carrousel::before {
  background-color: var(--bleu-d3);
  content: "";
  display: block;
  height: var(--trait);
  left: 50%;
  position: absolute;
  top: calc(-0.5 * var(--trait));
  width: 1px;
}
@media (min-width: 1024px) {
  .carrousel {
    --trait:20.5rem;
  }
}
.carrousel .titre-section {
  margin-bottom: 2.2rem;
  padding: 0 var(--padding-x);
  text-align: center;
}
.carrousel .titre-section span {
  color: var(--violet-d2);
}
.carrousel .owl-carousel {
  position: relative;
}
.carrousel .owl-carousel .owl-stage {
  display: flex;
}
.carrousel .owl-item {
  align-items: center;
  display: flex;
  justify-content: center;
}
.carrousel .owl-item img {
  height: var(--logo);
  object-fit: contain;
  object-position: center;
  width: var(--logo);
}
.carrousel .owl-nav {
  display: flex;
  justify-content: center;
}
.carrousel .owl-nav button {
  margin: 0 2rem;
  min-width: unset;
}
.carrousel .owl-nav button:hover span, .carrousel .owl-nav button:focus span {
  color: var(--bleu-fonce);
}
.carrousel .owl-nav span {
  color: #2AC1C8;
  font-size: 4rem;
  line-height: 4.5rem;
  text-decoration: underline;
}
@media (min-width: 768px) {
  .carrousel {
    --logo: 240px;
  }
}
@media (min-width: 1024px) {
  .carrousel {
    --logo: 200px;
    --dot: 1.6rem;
    padding: 18.3rem var(--padding-x) 20.9rem;
  }
  .carrousel .titre-section {
    margin-bottom: 9rem;
  }
  .carrousel .owl-dots {
    margin-top: 4rem;
  }
}
@media (min-width: 1440px) {
  .carrousel {
    --logo: 240px;
  }
}