
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.bouton,
a.wp-block-button__link {
	

	@include bouton;
 

	position: relative;

	&, &:visited {
		background: var(--bleu-b8);
		color:var(--blanc);
	}
	text-decoration: none;
	transition: all 0.5s;


	&:hover, &:focus, &:active {
		background: var(--bleu-fonce);
		color:var(--blanc);
		outline: none;
		text-decoration: none;
	}
	&:focus-visible {
		outline : dashed 2px var(--fbleu-b8);
		outline-offset: 2px;
	}

	&:disabled {
		background-color: lightgrey;
	}
	
}

input[type="submit"] {
	-webkit-appearance: none;	
	appearance: none;

}