body {
	
	//Simplifier les variables de couleurs générées par WP	
	--bleu-d3: #43ABD3;
	--bleu-b8: #009DB8;
	--bleu-titre:#009DB8;
	--bleu-c8: #2AC1C8;
	--bleu-d8-alt: #179DB8;
	--bleu-ba: #00A1BA;
	--bleu-fonce: #00354F;
	--gris-d4: #CFCBD4;
	--gris-b1: #B1B1B1;
	--gris-66: #666666;
	--gris-29: #00000029;
	--noir-texte: #3B3B3C;
	--noir-3c: #3B3B3C;
	--noir-15: #171715;
	--noir-2e: #05222E;
	--noir-22:#1E2022;
	--noir: #000;
	--beige: #fff8f8;
	--blanc: #fff;

}