br.mobile {
	@include bp(lg) {
		display: none;
	}
}

br.desktop {
	display: none;

	@include bp(lg) {
		display: block;
	}
}


/*Empêcher le scroll en mobile quand le volet de navigation est ouvert*/
.disable-scroll {
	overflow: hidden !important;
	touch-action: none !important;
}
