.archive {
	.titre {
		color:var(--noir);
		font-size: 3rem;
		font-weight: 700;
		line-height: 4rem;
		@include bp(lg) {
			font-size: 7rem;
			line-height: 1;
		}
		@include bp(xl) {
			font-size: 15rem;
			line-height: 1;
		}
	}

	.container {
		padding:0;
	}

}