.archive {
	.titre {
		color:var(--noir);
		font-size: 3rem;
		font-weight: 700;
		line-height: 4rem;
	}

	.container {
		padding:0;
	}
	.top-post {
		align-items: center;
		column-gap:1rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding-bottom: 3rem;
		.image {
			aspect-ratio: 1;
			display: flex;
		}
		.titre-item {
			font-size: 1.8rem;
			font-weight: 700;
			grid-column: 2;
			grid-row:1;
			line-height: 2rem;
			padding-right:var(--padding-x);
			text-align: left;
			text-transform: uppercase;
			a {
				color:#05222E;
				text-decoration: none;
			}
		}
		.extrait, .suite {
			grid-column: 1 / span 2;
			padding:0 var(--padding-x);
		}
		.extrait {
			color:#666666;
			font-size: 1.4rem;
			line-height: 2rem;
			margin-bottom: 1em;
			margin-top: 3rem;
			text-decoration: none;
		}
		.suite {
			color:var(--noir-2e);
			font-size: 1.4rem;
			font-weight: 800;
			line-height: 3rem;
			text-align: right;
		}
	}
	

	@include bp(lg) {
		//cacher le 1er article de loop (c'est le même que top-article) -> non ! caché en JS, sinon en CSS on cache le premier de chaque page
		
		.nav-cat, .extrait {
			display:block; 
		}

		.top-post {
			display: grid;
		}

		//TODO : masonry
	}


}