/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/


.site-footer {
	.main-footer {
		align-items: center;
		background-color: var(--bleu-b8);
		color: var(--blanc);
		display: flex;
		flex-direction: column;
		padding:1.2rem var(--padding-x) 2.5rem;
	}

	.logo-footer {
		display: block;
		margin:0 0 3rem;
		max-width:25rem;
		img {
			max-width: 100%;
		}
	}

	a {
		color:var(--blanc);
		text-decoration: none;
		&:hover, &:focus {
			color:var(--bleu-fonce)
		}
	}
	

	
	--picto:2.4rem;
	.contact {
		font-size: 1.4rem;
		font-weight: 500;
		line-height: 2.4rem;
		li {
			align-items: flex-start;
			display: flex;
			margin-bottom: 1em;
		}

		.picto {
			align-items: center;
			background-color: var(--blanc);
			border-radius: 100px;
			display: flex;
			height: var(--picto);
			justify-content: center;
			margin-right: 1rem;
			padding:3px;
			width:var(--picto);
			path {
				fill:var(--bleu-b8);
			}
		}
	}


	.nav-footer {
		display: none;
	}

	

	@include bp(md) {
		.main-footer {
			padding-top:3rem;
			padding-bottom: 2rem;
			--picto:3rem;
			li {
				font-size: 2rem;
				line-height: 3rem;
				margin-bottom: 1.8rem;
				text-align: left;
			}

			align-items: flex-start;
			display: grid;
			grid-template-columns: 1fr 0.5fr 1fr;

			
			
		
		}
		.contact {
			grid-column: 1;
			grid-row:2;
			.picto {
				padding:8px;
			}
		}

		.nav-footer {
			display: block;
			grid-column: 3;
			grid-row:2;
			li {
				font-weight: 500;
			}
		}

		.sub-menu {
			display: none;
		}
	
	}
	

	.bottom-footer {
		background-color: var(--noir);
		padding:1.8rem var(--padding-x) 1rem;
		text-align: center;

		p,
		a {
			color: var(--blanc);
			font-size: 1.2rem;
			line-height: 1.8rem;
		}
		p {
			margin-bottom: 1rem;
			text-align: center;
		}

		a {
			text-decoration: none;
			&:hover, &:focus {
				color:var(--bleu-b8);
			}
		}

		.inline-footer .menu {
			align-items:center;
			display: flex;
			justify-content: center;

			li {
				align-items: center;
				display: flex;
				&::before {
					color:var(--blanc);
					content:'-';
					display: inline-block;
					padding:0 0.5ch;
				}
				&:first-of-type::before {
					display: none;
				}
			}
		}
		
		@include bp(lg){
			padding:2.4rem var(--padding-x) 1.5rem;

			p, a {
				font-size: 2rem;
				line-height: 2.4rem;
			}

			p {
				font-weight: 500;
				margin-bottom: 4px;
				br {
					display: none;
				}
			}
			
		}
		
	}

}