/*--------------------------------------------------------------
## Site header
--------------------------------------------------------------*/
.site-header {
	--taille-logo:17rem;
	
	align-items: center;
	background-color: var(--blanc);
	display: flex;
	justify-content: space-between;
	padding: 11px var(--padding-x-header);
	padding-right: 1.9rem;
	position: relative;
	z-index:10;

	.site-branding, .menu-toggle {
		position: relative;
	}

	@include bp(sm) {
		padding-right: var(--padding-x-header);
	}

}

.title-area {
	max-width: var(--taille-logo);

}


.site-title {
	align-items: center;
	display: flex;
	margin:0;
}

.custom-logo-link {
	display: inline-block;
}

.custom-logo {
	display: block;
	margin:0;
}


//Header sticky toutes tailles d'écran
.site-header.js-sticky {
	border-bottom:solid 1px var(--beige);
	position:fixed;
	left: 0;
	top: 0;
	width:100%;

	@include bp(xxl) {
		left:calc((100vw - var(--largeur-max))/2);
		width:var(--largeur-max);
	}
}

#wpadminbar {
	position: fixed;
}
.admin-bar .site-header.js-sticky {
	top:46px;
}	


@include bp(md) {
	
	.admin-bar .site-header.js-sticky {
		top:32px;
	}

	
}
@include bp(md) {
	.site-header {

	--taille-logo:24rem;}
}
@include bp(lg) {
	.site-header {
		--taille-logo:28rem;	
		padding:30px var(--padding-x-header) 21px;
	}
	.header-navigation {
		width:100%;
	}
}
@include bp(xl) {
	.site-header {
		--taille-logo:34rem;	
		padding:52px var(--padding-x-header) 37px;

	}
}


/*--------------------------------------------------------------
## Entry-header : titre simple
--------------------------------------------------------------*/
.entry-header > .titre {
	font-weight: 800;
	padding:3rem var(--padding-x);
	text-align: center;
}

/*--------------------------------------------------------------
## Entry-header : avec bannière
--------------------------------------------------------------*/
.page-banniere {	
	--hauteur-banniere:59rem;
	
	align-items: center;
	display: grid;
	grid-template-rows: 12.2rem auto 1fr;
	justify-items: end;
	min-height:var(--hauteur-banniere);
	margin: 0 auto;
	overflow: hidden;
	position: relative;	
	max-width:var(--largeur-max);
	width:100%;

	.image {
		height:100%;
		left:0;
		position: absolute;
		top:0;
		width:100%;
		img {
			height: 100%;
			object-fit: cover;
			object-position: top center;
			width:100%;
		}
		
	}

	.desktop {
		display: none;
	}

	.textes {
		background-color: #fff;
		grid-row: 2;
		max-width: calc(100% - 4rem);
		padding:1.6rem 1.3rem;
		position: relative;
	}

	.titre {
		font-weight: 800;
		margin-bottom: 0;
	}

	.texte {
		color:var(--noir-15);
		font-size: 1.8rem;
		line-height: 2.5rem;
		font-weight: 300;
	}
	
	@include bp(sm) {
		.textes {
			max-width: 50rem;
		}
	}
	@include bp(md) {
		
		
	}

	@include bp(lg) {
		--hauteur-banniere:63rem;
		--fsz:16rem;

		align-items: stretch;
		justify-content: flex-end;
		display: flex;

		.mobile {
			display: none;
		}

		.desktop {
			display: block;
		}


		.image {
			width:calc(100% - 51rem - var(--padding-x));
		}
		.textes {
			align-items: flex-end;
			-webkit-align-items: flex-end;
			background-color: transparent;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			max-width: unset;
			padding-right: var(--padding-x);
			padding-bottom: 10rem;
			position: relative;
		}

		.titre-wrap {
			background-color: #fff;
			font-size: var(--fsz);
			font-weight: 800;
			height:auto;
			padding:3rem;
			padding-right:0;
			width:auto;
		}
		.titre {
			background-size: cover;
			background-position: left bottom;
			background-clip: text;
			color:transparent;
			font-family: var(--font-titre);
			font-size: var(--fsz);
			font-weight: 900;
			line-height: 1;
			font-weight: 800;

		}

		.texte {
			background-color: #fff;
			padding-left: 3rem;

			color:var(--noir-texte);
			font-size: 3rem;
			line-height: 4.5rem;
			font-weight: 300;
			width:50rem;
		}

	
		
	}

	@include bp(xl) {
		--hauteur-banniere:93rem;
		--fsz:18rem;

	}

	@include bp(xxl) {
		.image {
			width:calc(100% - 51rem - 29rem);
		}
		.textes {
			padding-right: 29rem;
		}
	}

	&.pour-accueil {
		grid-template-rows: 16.7rem auto 1fr;
		.texte_1 {
			color:var(--noir-15);
			font-size: 2.7rem;
			font-weight: 600;
			line-height: 1;
			margin-bottom: -1rem;
			text-transform: uppercase;
		}
		.texte_1, .titre, .texte_3 {
			padding-right: var(--padding-x);
			text-align: right;
		}
		.titre {
			font-size: 12rem;
			line-height: 1;
			margin-bottom: -1rem;
		}
		.texte_3 {
			font-weight: 300;
			left:0.5rem;
			position: relative;
		}

		@include bp(lg) {
			--fsz:35rem;
			align-items: center;
			.textes {
				padding:0;
				padding-right: var(--padding-x);
			}
			.image {
				width:calc(100% - 40rem - var(--padding-x));
			}
			.texte_1, .titre, .texte_3 {
				padding-right: 0;
			}
		
			.texte_1 {
				font-size: 6.4rem;
				line-height: 1.1;
				position: relative;
				top:1.5rem;
				z-index: 2;
			}
			.titre-wrap {
				padding:0;
				padding-left:3rem;
			}
			.titre {
				font-size: var(--fsz);
				line-height: 1;
				position: relative;
				left:1rem;
				
			}
			.texte_3 {
				font-size: 3rem;
				line-height: 5rem;
				position: relative;
				top:-1.5rem;
				z-index: 2;
			}
			.texte {
				background-color: transparent;
				padding-left: 2rem;
				width:unset;
			}
		}
		@include bp(xxl) {
			.image {
				width:calc(100% - 45rem - 25rem);
			}
			.textes {
				padding:25rem;
			}
		}
	}
	
}