.loop {
	background-color: var(--gris-bg);
	list-style: none;
	margin: 0;
	padding: 0 var(--padding-x-header) 3rem;

	

	@include bp(md) {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(2, 1fr);
	}


	@include bp(lg) {
		align-items: stretch;
		grid-template-columns: repeat(3, 1fr);
	}

	@include bp(xl) {
		gap: 1.6rem;
	}
}