form.search-form {
	align-items:stretch;
	display: flex;
	max-width:50rem;
	label {
		flex-grow:1;
	}
	input.search-field {
		border:solid 1px var(--bleu-titre);
		width:100%
	}
	input.search-submit {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin-bottom: 0;
		min-width: unset;
	}
}

.search-results {
	li.product {
		margin-bottom: var(--margin-y-2);
		text-align: left;
	}
}

.no-results{
	min-height:50vh;
	.entry-title {
		padding-top:var(--margin-y-1);	
	}
}