.logos-grille {
  --nb-col:2;
  --taille-col:1fr;
  --gap:8px;
  --dot:1rem;
  width: 100vw;
  margin-left: calc(-1 * var(--padding-x));
  --trait:9.7rem;
  position: relative;
  background-color: var(--gris-bg);
  padding: 8.5rem var(--padding-x);
  position: relative;
}
@media (min-width: 1920px) {
  .logos-grille {
    width: var(--largeur-max);
  }
}
.logos-grille::before {
  background-color: var(--bleu-d3);
  content: "";
  display: block;
  height: var(--trait);
  left: 50%;
  position: absolute;
  top: calc(-0.5 * var(--trait));
  width: 1px;
}
@media (min-width: 1024px) {
  .logos-grille {
    --trait:20.5rem;
  }
}
.logos-grille .titre-section {
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}
.logos-grille .intro {
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin-bottom: 3rem;
}
.logos-grille .logos {
  align-items: start;
  -moz-column-gap: var(--gap);
       column-gap: var(--gap);
  display: grid;
  grid-template-columns: repeat(var(--nb-col), var(--taille-col));
  justify-content: center;
  margin-bottom: 3.6rem;
  opacity: 1;
  row-gap: var(--gap);
  transition: opacity var(--transition);
}
.logos-grille .logos.js-opaque {
  opacity: 0;
}
.logos-grille .logo {
  align-items: center;
  background: var(--blanc);
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.logos-grille .logo img {
  aspect-ratio: 1;
  object-fit: contain;
}
.logos-grille .pagination a.page {
  background-color: #707070;
  border: solid 1px #707070;
  border-radius: 50%;
  color: transparent;
  display: block;
  height: var(--dot);
  margin: 0 1.2rem;
  opacity: 0.33;
  width: var(--dot);
}
.logos-grille .pagination a.page:hover, .logos-grille .pagination a.page:focus {
  background-color: #009db8;
  border-color: #009db8;
}
.logos-grille .pagination li.active a.page {
  opacity: 1;
}
@media (min-width: 500px) {
  .logos-grille {
    --taille-col:14rem;
    --gap:1.6rem;
  }
  .logos-grille .intro {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .logos-grille {
    --nb-col:3;
    --taille-col:1fr;
  }
}
@media (min-width: 1024px) {
  .logos-grille {
    --nb-col:4;
    --dot: 1.6rem;
    padding: 13.7rem var(--padding-x) 19rem;
  }
  .logos-grille .intro {
    font-size: 2.6rem;
    line-height: 3.4rem;
    margin-bottom: 9rem;
  }
  .logos-grille .pagination {
    margin-bottom: 0;
  }
  .logos-grille .pagination a.page {
    margin: 0 2rem;
  }
}
@media (min-width: 1440px) {
  .logos-grille {
    --nb-col:5;
  }
}