@import "./././sass/abstracts/variables-et-mixins";

.logos-grille {
	--nb-col:2;
	--taille-col:1fr;
	--gap:8px;
	--dot:1rem;

	@include bleed;
	@include trait;

	background-color: var(--gris-bg);
	padding:8.5rem var(--padding-x);
	position: relative;

	.titre-section {
		margin-bottom: 2rem;
		text-align: center;
	}

	.intro {
		font-size: 1.8rem;
		line-height: 2.5rem;
		margin-bottom: 3rem;
	}

	.bouton-wrap {
		display: flex;
		justify-content: center;
	}

	.logos {
		align-items: start;
		column-gap:var(--gap);
		display: grid;
		grid-template-columns: repeat(var(--nb-col),var(--taille-col));
		justify-content: center;
		margin-bottom: 3.6rem;
		opacity: 1;
		row-gap:var(--gap);
		transition: opacity var(--transition);
		
		&.js-opaque {
			opacity:0;
		}
	}

	.logo {
		background: var(--blanc);
		padding-top:100%;
		position: relative;
	
		img {
			height:calc(100% - 2rem);
			left:1rem;
			object-fit: contain;
			object-position: center;
			position: absolute;
			top:1rem;
			width:calc(100% - 2rem);
		
		}
	}

	.pagination {
		a.page {
			background-color: #707070;
			border:solid 1px #707070;
			border-radius: 50%;
			color:transparent;
			display: block;
			height:var(--dot);
			margin:0 1.2rem;
			opacity: 0.33;
			width:var(--dot);

			&:hover, &:focus {
				background-color: #009db8;
				border-color:#009db8;
			}
		}

		li.active a.page {
			opacity: 1;
		}
	}


	@include bp(sm) {
		--taille-col:14rem;
		--gap:1.6rem;

		.intro {
			text-align: center;
		}
	}
	@include bp(md) {
		--nb-col:3;
		--taille-col:1fr;
	}

	@include bp(lg) {
		--nb-col:4;
		--dot : 1.6rem;

		padding : 13.7rem var(--padding-x) 19rem;

		.intro {
			font-size: 2.6rem;
			line-height: 3.4rem;
			margin-bottom: 9rem;
		}

		.pagination {
			margin-bottom: 0;
			a.page {
				margin: 0 2rem;
			}
		}
	}

	@include bp(xl) {
		--nb-col:5;
	}
	

} 