@import "./././sass/abstracts/variables-et-mixins";

.agence-equipe {
	@include trait;
	@include bleed;
	background-color: rgba(207,203,212,0.17);
	padding:7.4rem 0 3.9rem;


	.intro-wrap {
		padding:0 var(--padding-x);
	}
	.titre-section {
		font-weight: 700;
		margin-bottom: 2rem;
		text-align: center;
	}

	.intro {
		font-size: 1.8rem;
		line-height: 2.5rem;
		margin-bottom: 5rem;
	}
	.image {
		display: none;
	}


	.equipier {
		background-color: var(--blanc);
		margin-bottom: 1rem;
		padding:1.9rem var(--padding-x);
	}

	.summary {
		display: flex;
	}


	.nom {
		font-size: 1.8rem;
		font-weight: 700;
		line-height: 3.2rem;
		margin-bottom: 0;
		margin-right: auto;
	}

	a {
		display: block;
		margin-right: 1.8rem;
		width:4.5rem;
		svg {
			width: 100%;
		}
	}

	button {
		background-color: transparent;
		min-width: unset;
		padding:0;
		width:1.5rem;
		.picto {
			display: block;
			transform-origin: center center;
			transition: transform var(--transition);
			width:100%;
		}

		&[aria-expanded="true"] {
			.picto {
				transform:rotate(90deg);
			}
		}
	}

	.volet {
		display: none;
	}

	.role {
		font-weight: 700;
	}

	.role1 {
		font-size: 120%;
		margin-bottom: 0;
	}

	.bio {
		font-weight: 300;
	}


	@include bp(md) {
		--gap:3rem;
		.texte-wrap {
			align-items: center;
			display: flex;
		}

		.titre-section {
			flex-shrink: 0;
			flex-grow:0;
			margin-right: 2rem;
			margin-bottom: 0;
		}

		.intro {
			margin-bottom: 0;
		}

		.equipiers {
			column-gap:var(--gap);
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			margin-top: 5rem;
			row-gap:var(--gap);
		}
	}
	
	
	@include bp(lg ) {
		--gap:2rem;

		padding-top: 17.2rem;
		padding-bottom: 19.5rem;

		.titre-section {
			font-size: 6.5rem;
			font-weight: 9.8rem;
			margin-right: 4rem;
		}
		.intro {
			font-size: 2.6rem;
			line-height: 3.4rem;
		}

		.equipiers {
			grid-template-columns: repeat(4, 1fr);
			margin-top: 9rem;
		}

		.equipier {
			border-bottom:solid 2px var(--noir);
			padding-top: 6.6rem;
			padding-bottom: 3rem;
		}
		.picto {
			height:11.4rem;
			margin-bottom: 7rem;
			width:11.3rem;
		}
		.titre {
			align-items:center;
			display: flex;
			font-size: 4rem;
			-webkit-hyphens: auto;
			-moz-hyphens: auto;
			-ms-hyphens: auto;
			hyphens: auto;
			letter-spacing: -0.2px;
			line-height: 1;
			min-height: 8rem;
			margin-bottom: 4.6rem;
		}
		.texte {
			margin-bottom: 0;
		}
	
	}

	@include bp(xxl){
		--gap:5rem;
		
	}
} 