@import "./././sass/abstracts/variables-et-mixins";

.agence-equipe {
	@include trait;
	@include bleed;
	background-color: rgba(207,203,212,0.17);
	padding:7.4rem 0 3.9rem;


	.intro-wrap {
		padding:0 var(--padding-x);
	}
	.titre-section {
		margin-bottom: 2rem;
		text-align: center;
	}

	.intro {
		color:var(--noir);
		font-size: 1.8rem;
		line-height: 2.5rem;
		margin-bottom: 5rem;
	}
	.image {
		display: none;
	}


	.equipier {
		background-color: var(--blanc);
		margin-bottom: 1rem;
		padding:1.9rem var(--padding-x);
	}

	.summary {
		align-items: center;
		display: flex;
	}


	.nom {
		font-size: 1.8rem;
		font-weight: 700;
		line-height: 3.2rem;
		margin-bottom: 0;
	}

	a {
		display: block;
		margin-right: 1.8rem;
		width:4.5rem;
		svg {
			width: 100%;
		}
	}

	button {
		background-color: transparent;
		border:none;
		height:unset;
		min-width: unset;
		padding:0;
		&.avec-picto {
			width:1.5rem;
		}
		&.avec-nom {
			margin-right: auto;
		}
		.picto {
			display: block;
			transform-origin: center center;
			transition: transform var(--transition);
			width:100%;
		}

		&[aria-expanded="true"] {
			.picto {
				transform:rotate(90deg);
			}
		}

		&:focus-visible {
			outline:medium dotted;
			outline-color:var(--bleu-fonce);
		}
	}

	.volet {
		display: none;
	}

	.role {
		font-weight: 700;
	}

	.role1 {
		font-size: 120%;
		margin-bottom: 0;
	}

	.bio {
		font-weight: 300;
	}


	@include bp(md) {
		

		
		
		--gap:1.6rem;
	
		.equipiers {
			align-items: start;
			column-gap:var(--gap);
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			padding:0 var(--padding-x-header);
			row-gap:var(--gap);
		}

		.equipier {
			padding:1.9rem;
		}
	
	}
	
	
	@include bp(lg ) {

		padding-top: 18rem;
		padding-bottom: 6rem;

		.intro-wrap {
			display: grid;
			grid-template-columns: 47rem 15rem 1fr;
		}

		.titre-section {
			grid-column: 1;
			margin-bottom: 3rem;
			padding-top: 7rem;
			text-align: left;
		}
		.intro {
			align-items: center;
			background: #F7F6F8;
			display: flex;
			font-size: 2.6rem;
			grid-column: 1 / span 2;
			grid-row:2;
			line-height: 3.4rem;
			margin-bottom: 3rem;
			padding:1rem;
			padding-left: 0;
			position: relative;
			z-index: 1;
		}

		.image {
			display: block;
			grid-column: 2 / span 2;
			grid-row:1 / span 2;
			img {
				height:100%;
				width:100%;
			}
		}

		.equipiers {
			grid-template-columns: repeat(3, 1fr);
			margin-top: 13rem;
		}

		.bio {
			line-height: 2.5rem;
		}

		
	
	}

	@include bp(xl) {
		.nom {
			font-size: 3rem;
			line-height: 3.2rem;
		}
		.role1 {
			font-size: 2.5rem;
			line-height: 3rem;		
		}
	
	}

	
} 