.accueil-accompagnement {
  width: 100vw;
  margin-left: calc(-1 * var(--padding-x));
  --trait:9.7rem;
  position: relative;
  background-color: rgba(207, 203, 212, 0.17);
  padding: 5.4rem var(--padding-x) 8.6rem;
}
@media (min-width: 1920px) {
  .accueil-accompagnement {
    width: var(--largeur-max);
  }
}
.accueil-accompagnement::before {
  background-color: var(--bleu-d3);
  content: "";
  display: block;
  height: var(--trait);
  left: 50%;
  position: absolute;
  top: calc(-0.5 * var(--trait));
  width: 1px;
}
@media (min-width: 1024px) {
  .accueil-accompagnement {
    --trait:20.5rem;
  }
}
.accueil-accompagnement .titre-section {
  font-size: 2.8rem;
  margin-bottom: 2rem;
  text-align: center;
}
.accueil-accompagnement .intro {
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin-bottom: 3rem;
}
.accueil-accompagnement .desktop {
  display: none;
}
.accueil-accompagnement .services {
  margin-bottom: 5rem;
}
.accueil-accompagnement .titre {
  border-top: solid 2px var(--noir);
  font-weight: 700;
  line-height: 3.5rem;
  margin-bottom: 0;
  padding: 1.7rem 0;
}
@media (min-width: 500px) {
  .accueil-accompagnement .titre-section {
    font-size: 3rem;
  }
}
@media (min-width: 1024px) {
  .accueil-accompagnement {
    --gap:3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 13.4rem;
    padding-bottom: 16rem;
  }
  .accueil-accompagnement .titre-section {
    font-size: 6.4rem;
  }
  .accueil-accompagnement .intro {
    font-size: 2.6rem;
    line-height: 3.4rem;
    margin-bottom: 5rem;
    text-align: center;
  }
  .accueil-accompagnement .services {
    -moz-column-gap: var(--gap);
         column-gap: var(--gap);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 6rem;
  }
  .accueil-accompagnement .service {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .accueil-accompagnement .titre {
    border-bottom: solid 3px var(--noir);
    border-top: solid 3px var(--noir);
    font-size: 3rem;
    font-weight: 800;
    line-height: 4rem;
    min-height: 17.5rem;
    margin-bottom: 5.9rem;
    padding: 2.5rem 0;
  }
  .accueil-accompagnement .desktop {
    display: block;
  }
  .accueil-accompagnement .picto {
    align-items: center;
    display: flex;
    height: 11rem;
    justify-content: center;
    margin-bottom: 3.5rem;
  }
  .accueil-accompagnement .texte {
    font-size: 2rem;
    line-height: 1;
    text-align: center;
  }
  .accueil-accompagnement .chiffre {
    display: inline-block;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1rem;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .accueil-accompagnement {
    --gap:5rem;
  }
  .accueil-accompagnement .titre {
    font-size: 4rem;
    line-height: 5rem;
    min-height: 26.2rem;
    padding: 5rem 0;
  }
  .accueil-accompagnement .intro {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 9rem;
    max-width: 80rem;
  }
  .accueil-accompagnement .texte {
    font-size: 2.5rem;
  }
  .accueil-accompagnement .chiffre {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1600px) {
  .accueil-accompagnement {
    --gap:8rem;
  }
  .accueil-accompagnement .texte {
    font-size: 3rem;
  }
  .accueil-accompagnement .chiffre {
    font-size: 4rem;
  }
}