@import "./././sass/abstracts/variables-et-mixins";

.accueil-accompagnement {
	@include bleed;
	@include trait;
	background-color: rgba(207,203,212,0.17);
	padding:5.4rem var(--padding-x) 8.6rem;


	.titre-section {
		font-size: 2.8rem;
		margin-bottom: 2rem;
		text-align: center;
	}

	.intro {
		font-size: 1.8rem;
		line-height: 2.5rem;
		margin-bottom: 3rem;
	}

	.desktop {
		display: none;
	}

	.services {
		margin-bottom: 5rem;
	}

	.titre {
		border-top:solid 2px var(--noir);
		font-weight: 700;
		line-height: 3.5rem;
		margin-bottom: 0;
		padding:1.7rem 0;
	}


	@include bp(sm) {
		.titre-section {
			font-size: 3rem;
		}
	}



	
	
	@include bp(lg ) {
		--gap:3rem;
		align-items: center;
		display: flex;
		flex-direction: column;
		padding-top: 13.4rem;
		padding-bottom: 16rem;

		.titre-section {
			font-size: 6.4rem;
		}
		.intro {
			font-size: 2.6rem;
			line-height: 3.4rem;
			margin-bottom: 5rem;
			text-align: center;
		}
		.services {
			column-gap: var(--gap);
			display: grid;
			grid-template-columns: repeat(3,1fr);
			margin-bottom: 6rem;
		}
		.service {
			align-items: center;
			display:flex;
			flex-direction: column;
		}
		.titre {
			border-bottom:solid 3px var(--noir);
			border-top:solid 3px var(--noir);
			font-size: 3rem;
			font-weight: 800;
			line-height: 4rem;
			min-height: 17.5rem;
			margin-bottom: 5.9rem;
			padding:2.5rem 0;
		}
		.desktop {
			display: block;
		}
		.picto {
			align-items: center;
			display: flex;
			height:11rem;
			justify-content: center;
			margin-bottom: 3.5rem;
		}
	
		.texte {
			font-size: 2rem;
			line-height: 1;
			text-align: center;
		}
		.chiffre {
			display: inline-block;
			font-size: 3rem;
			line-height: 1;
			margin-bottom: 1rem;
			text-align: center;
		}
			
	
	}

	@include bp(xl) {
		--gap:5rem;

		.titre {
			font-size: 4rem;
			line-height: 5rem;
			min-height: 26.2rem;
			padding:5rem 0;

		}

		.intro {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 9rem;
			max-width: 80rem;
		}

		.texte {
			font-size: 2.5rem;
		}

		.chiffre {
			font-size: 3.5rem;
			margin-bottom: 1.5rem;
		}
	}

	@media screen and (min-width:1600px) {
		--gap:8rem;
		.texte {
			font-size: 3rem;
		}

		.chiffre {
			font-size: 4rem;
		}
	}
} 